:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.group {
  align-items: stretch;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
}
.list {
  height: max-content;
  min-width: max-content;
}
.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.row-layout {
  display: flex;
  flex-direction: column;
}
